

form {
    display: flex;
    flex-direction: column;
}

.container-button{
    display: flex;
    justify-content: space-around;
}
button {
    margin:10px;
}

mat-card {
    padding: 20px;
    border: outset;
    margin-top: 10px;
    width: 100% ;
}
.p-inputtext-sm {
    font-size: 12px; /* Define o tamanho da fonte */
    padding: 0.25rem 0.5rem; /* Define o preenchimento */
  
  }
  
  .p-datepicker-sm{
    font-size: 19px; 
    height: 300px;
 
  }
  p-calendar {
    margin-bottom: 10px;
  }
