

<mat-card class="mat-elevation-z3" >

    <mat-card-title> Novo Produto</mat-card-title>
    <form action="">
        <mat-form-field>
            <input id="nameproduct" matInput placeholder="Nome do Produto" 
            [(ngModel)]="product.nameproduct" name="nameproduct" type="text">
        </mat-form-field>
        <mat-form-field>
            <input id="amount" matInput placeholder="Quantidade" 
            [(ngModel)]="product.amount" name="amount" type="number">
        </mat-form-field>
        <mat-card-title> Valor</mat-card-title>
        <mat-form-field>
            <input id="value" matInput placeholder="Valor" 
            [(ngModel)]="product.price "  name="value" type="text">
        </mat-form-field>
            
    </form>
    <div class="container-button">
    <button  mat-raised-button (click)="CreateProduct()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Voltar
    </button>
</div>
</mat-card>
