.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.sidenav a {
    color: #fff;

}
.sidenav i {
    padding-right: 10px;
}
.content {
    
    background-color: white;
     display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Preenche a altura do app-layout */
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
   
}
