.header {
    display: flex;
    align-items: center;
    z-index: 1000; /* Ou qualquer valor que seja maior do que o z-index do mat-card */

    

}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}


.header .logo {
    max-height: 40px;
    
}
.header .tittle-group {
    padding-left: 25px;
}
.header .tittle-group i {
    padding-right: 1px;
    width: 30px;
}
