
<div class="pag ">
<div class="container">
    <form  class="form"  action="" *ngIf="condition2">
        <p class="heading">Login</p>
        <input class="input" placeholder="Email" type="text" [(ngModel)]="user.email" name="email">
        <input class="input" placeholder="Password" type="text" [(ngModel)]="user.senha" name="senha">
        <a href="">Esqueceu a senha?</a>
        <div class="container-button">
        <button class="btn"  (click)="Clickbuttonlogin()">Login</button> <button class="btn" (click)="ClickButtonPagCadastro()"> Cadastrar</button>
    </div>
    </form>
    <form class="form" *ngIf="condition1" >
       <header class="header-container">
         <button mat-icon-button (click)="cancel()">
        <i class="material-icons">
            clear
        </i>
    </button>
        <p class="heading">Cadastro</p>
    </header >
        <input class="input" placeholder="Email" type="text" [(ngModel)]="user.email" name="email">
        <input class="input" placeholder="Password" type="text" id="pass" >
        <input class="input" placeholder="Repeat Password" type="text" [(ngModel)]="user.senha" name="senha" id="pass"> 
      
       <button class="btn" (click)="saveuser()"> Cadastrar</button>
    </form>
    
</div>
</div>